@{
    ViewBag.Title = "Home Page";
}

<div class="text">
    <h1>Welcome Back</h1>

</div>
<div class="button">
    <a href="@Url.Action("GetItems", "Home")">
        <button type="button"> Manager </button>
    </a>
    <a href="@Url.Action("SeeOrder", "Kitchen")">
        <button type="button"> Kitchen </button>
    </a>
    <a href="@Url.Action("GetOrder", "Waiter")">
        <button type="button"> Waiter </button>
    </a>

</div>